* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}
img {
    width: 100%;
}
/* start header */
header {
    height: 100vh;
    background-color: #3c3c3c;
}
.navbar {
    border-bottom: 2px solid #f04b11;
    display: flex;
    height: 80px;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #3c3c3c;
}
.logo {
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 20px;
}
.logo h2 {
    font-weight: 100;
    color: #f04b11;
}
.menu-icon, .close-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 32px;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
    pointer-events: none;
    color: #f04b11;
}
.menu-icon.active {
    opacity: 1;
    right: 30px;
    pointer-events: auto;
}
.close-icon.active {
    opacity: 1;
    right: 30px;
    pointer-events: auto;
}
.main-menu {
    list-style: none;
    display: flex;
}
.main-menu li a {
    text-decoration: none;
    text-transform: uppercase;
}
.anouncement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    color: #f04b11;
}
.anouncement h1 {
    font-weight: 100;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 80px;
}
.anouncement p {
    margin: 10px 0;
    font-size: 30px;
    text-transform: capitalize;
}
.anouncement .buy-ticket {
    margin-top: 20px;
    display: block;
    text-decoration: none;
    padding: 20px 40px;
    color: #3c3c3c;
    text-transform: uppercase;
    background-color: #f04b11;
    border: 2px solid #f04b11;
    transition: all .5s;
}
.anouncement .buy-ticket:hover {
    color: #f04b11;
    background-color: #3c3c3c;
}
@media screen and (max-width: 767px) {
    .main-menu {
        flex-direction: column;
        position: fixed;
        background-color: #f04c11e8;
        top: 80px;
        left: 100vw;
        width: 200px;
        height: calc(100vh - 80px);
        align-items: center;
        transition: .2s;
    }
    .main-menu.active {
        left: calc(100vw - 200px);
    }
    .main-menu li {
        width: 100%;
    }
    .main-menu li a {
        color: #3c3c3c;
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .main-menu li a:hover {
        background-color: #f04c11;
    }
}
@media screen and (min-width: 768px) {
    .menu-icon, .close-icon {
        display: none;
    }
    .main-menu {
        margin-left: auto;
        margin-right: 20px;
    }
    .main-menu li {
        margin: 0 10px;
    }
    .main-menu li a {
        color: #f04b11;
        font-size: 20px;
        display: block;
    }
    .main-menu li a:hover {
        color: #3c3c3c;
    }
    .main-menu li a::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #f04b11;
        display: block;
        transition: all .5s;
        position: relative;
        z-index: -1;
        transform-origin: 100% 100%;
    }
    .main-menu li a:hover::after {
        transform: scaleY(15);
    }

}
/* end header */
/* start speakers */
.speakers {
    margin: 40px 0;
}
.title {
    font-size: 40px;
    color: #f04b11;
    text-transform: uppercase;
    text-align: center;
}
.bar {
    height: 10px;
    background-color: #f04b11;
    width: 200px;
    margin: auto;
    border-radius: 50px;
}
.container {
    padding: 0 15px;
}
.speakers-container {
    margin-top: 50px;
}
.speaker {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    margin: 30px 0;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.speaker-name {
    color: #f04b11;
    text-transform: uppercase;
    font-size: 30px;
}
.speaker-desc {
    color: #3c3c3c;
    line-height: 30px;
    font-size: 20px;
    font-style: italic;
}
.speaker-contact {
    margin-top: 10px;
    text-align: right;
}
.follow {
    text-transform: uppercase;
    color: #3c3c3c;
}
.speaker .fab {
    margin: 0 10px;
    color: #f04b11;
    font-size: 17px;
}
.speaker .fab:hover {
    color: #3c3c3c;
}
@media screen and (min-width: 768px) {
    .speaker {
        grid-template-columns: 1fr 2fr;
    }
    .speaker-reversed {
        grid-template-columns: 2fr 1fr;
    }
    .speaker-reversed .image {
        order: 2;
    }
    .speaker-reversed .info {
        order: 1;
    }
}
@media screen and (min-width: 1100px) {
    .container {
        width: 1100px;
        margin: auto;
    }
}
/* end speakers */
/* start newsletter */
.newsletter {
    background: #3c3c3c;
    padding: 40px 0;
}
.newsletter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter-content p {
    color: #f04b11;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}
form {
    text-align: center;
}
form input {
    width: 300px;
    font-size: 22px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #f04b11;
    color: #f04b11;
}
form input::placeholder {
    color: #f04b11;
    opacity: .4;
}
form button {
    background-color: #f04b11;
    border: none;
    font-size: 22px;
    text-transform: uppercase;
    padding: 2px 10px;
    cursor: pointer;
    color: #3c3c3c;
}
@media screen and (max-width: 960px) {
    form {
        margin-top: 20px;
    }
    form button {
        margin-top: 10px;
    }
}
@media screen and (min-width: 961px) {
    .newsletter-content {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* end newsletter */
/* start footer */
footer {
    background-color: #2f2f2f;
    padding: 20px 0;
}
.contact-us {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
.social {
    margin-top: 20px;
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 20px;
}
footer .fab {
    font-size: 22px;
    color: #f04b11;
    margin: 0 10px;
    transition: .5s;
}
footer .fab:hover {
    color: #fff;
}
.copyright {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
/* end footer */
/* start about */
.about {
    padding-top: 120px;
}
.text {
    color: #3c3c3c;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0;
}
/* end about */
/* start tickets */
.tickets {
    padding-top: 120px;
}
.tickets-content {
    margin: 40px 0;
    display: grid;
    grid-gap: 20px;
}
.ticket {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 18px -4px rgb(0, 0, 0);
}
.ticket-name {
    text-transform: uppercase;
    color: #f04b11;
    font-size: 20px;
    background-color: #3c3c3c;
    text-align: center;
    padding: 5px 0;
}
.ticket-desc {
    margin-top: 30px;
    text-align: center;
    line-height: 30px;
    color: #3c3c3c;
    font-style: italic;
}
.remaining-content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.remaining {
    background-color: grey;
    text-align: right;
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 10px 0 10px 0;
}
.buy {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.buy a {
    text-decoration: none;
    color: #f04b11;
    background-color: #3c3c3c;
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.buy a:hover {
    background-color: #f04b11;
    color: #3c3c3c;
}
@media screen and (min-width: 600px) {
    .tickets-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 768px) {
    .tickets-content {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* end tickets */